table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 26px;
}

th,
td,
tr {
    color: $color-secondary-100;
    text-align: left;
    border-bottom: 1px solid $borderColor-100;
    padding: 10px 0;
}

th {
    padding-top: 0;
}

tbody tr:hover {
    background-color: $color-hover-100;
}

.table-action-btn {
    background-color: transparent;
    padding: 6px;
}

.table-action-btn:hover.table-action-btn__edit {
    color: $color-first-100;
}

.table-action-btn:hover.table-action-btn__remove {
    color: $color-failed;
}

.table-navbar {
    margin: 12px 0;
}

.table-navbar__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .table-navbar__search-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.6rem;
        color: $color-secondary-100;

        .search-btn {
            font-weight: 600;
        }
    }
}

.pdf-view {
    width: 100%;
    height: 100vh;
}
