table {
    width: 100%;
    border-collapse: collapse;
}

th,
td,
tr {
    color: $color-secondary-100;
    text-align: left;
    border-bottom: 1px solid $borderColor-100;
    padding: 10px 0;
}

th {
    padding-top: 0;
}

tbody tr:hover {
    background-color: $color-hover-100;
}

.table-action-btn {
    background-color: transparent;
    padding: 6px;
}

.table-action-btn:hover.table-action-btn__edit {
    color: $color-first-100;
}

.table-action-btn:hover.table-action-btn__remove {
    color: $color-failed;
}
