@import "../layouts/headerRoot";
@import "../layouts/footerRoot";
@import "../components/grid";

.hero-banner {
    padding-top: 100px;

    @include reponsive(768px) {
        & {
            padding-top: 60px;
        }
    }
    .hero-banner__title {
        font-size: 6.4rem;
        font-weight: 500;
        text-align: center;
        margin: 0;
        color: $color-first-100;

        @include reponsive(1024px) {
            & {
                font-size: 4.4rem;
            }
        }
    }

    .hero-banner__title-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 6.4rem;
        font-weight: 300;
        margin: 0 0 50px 0;
        line-height: 1.2;
        color: $color-secondary-90;

        .hero-banner__title {
            font-weight: 500;
            text-align: center;
            margin: 0;
            margin-left: 8px;
            color: $color-first-100;

            @include reponsive(480px) {
                & {
                    font-size: 2.4rem;
                }
            }
        }

        @include reponsive(1024px) {
            & {
                font-size: 3.4rem;
            }
        }

        @include reponsive(480px) {
            & {
                font-size: 2.4rem;
            }
        }
    }

    .hero-banner__action {
        display: flex;
        justify-content: center;
        gap: 20px;

        & .btn {
            background-color: $color-first-100;
            font-weight: 500;
            color: $color-fourth-100;
        }

        & .btn:hover {
            background-color: $color-first-80;
        }
    }
}

.card-introduce__wrapper {
    margin-top: 80px;
    margin-bottom: 150px;
    @include reponsive(480px) {
        & {
            margin-top: 50px;
            margin-bottom: 70px;
        }
    }
    .card-introduce__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $color-third-70;
        border-radius: 4px;
        padding: 26px;

        & img {
            width: 50px;
            height: 50px;
        }

        & h3 {
            margin-top: 16px;
            margin-bottom: 0;
            color: $color-secondary-100;
        }
    }
}

.introduce-section {
    padding: 50px;

    @include reponsive(480px) {
        & {
            padding: 10px;
        }
    }

    .introduce-section_grid {
        max-width: 1000px;
        align-items: center;
        margin: auto;
    }

    & img {
        box-shadow: $boxShadowColor-100;
        border-radius: 12px;
        max-height: 360px;

        @include reponsive(560px) {
            & {
                order: 2;
            }
        }
    }

    &__short {
        h3 {
            font-size: 2.6rem;
            color: $color-secondary-100;
        }

        p {
            color: $color-secondary-90;
        }
    }
}
