.header-main {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    padding-left: calc($siderbarsMain-width-close);
}

.header-main.siderbarOpen {
    padding-left: calc($siderbarsMain-width-open);
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-main-height;
    border-bottom: 1px solid $borderColor-100;
    background-color: $color-fourth-100;
    padding-inline: $padding-global;
}

.header-inner {
    .header-right-wrapper .avatar-btn {
        cursor: pointer;
    }
}

.header-popover-wrapper {
    color: $color-secondary-100;

    .header-popover-top {
        display: flex;
        align-items: center;
        gap: 12px;
        padding-bottom: 20px;
        border-bottom: 1px solid $borderColor-100;
        margin-bottom: 8px;
    }
}
