@mixin transition($property: "all", $duration, $typeRun: "linear") {
    -webkit-transition: $property $duration $typeRun;
    -moz-transition: $property $duration $typeRun;
    -ms-transition: $property $duration $typeRun;
    -o-transition: $property $duration $typeRun;
    transition: $property $duration $typeRun;
    @content;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
}

@mixin reponsive($breakPoint) {
    @media only screen and (max-width: $breakPoint) {
        @content;
    }
}
