$font-family: "Roboto", sans-serif;

$color-first-100: #000;
$color-first-90: #2f2f2f;
$color-first-80: #555;
$color-first-20: #f8f8f5;
$color-first-10: #ffffff;
$color-secondary-100: #3f72af;
$color-secondary-90: #6a9ddc;
$color-secondary-80: #9d92ff;
$color-secondary-70: #c9c3ff;
$color-secondary-10: #e9e7f6;

$color-success: #a5ffae;
$color-failed: #ff8585;
$color-warning: #fffb87;
