$font-family: "Roboto", sans-serif;

$color-first-100: #3f72af;
$color-first-90: #487dbd;
$color-first-80: #689bd9;

$color-secondary-100: #48465b;
$color-secondary-90: #5b5970;
$color-secondary-80: #9795ad;
$color-secondary-70: #e3e2ea;

$color-third-100: #9d92ff;
$color-third-90: #a59cf7;
$color-third-80: #c6c0fa;
$color-third-70: #edebff;

$color-fourth-100: #ffffff;
$color-fourth-90: #ededed;
$color-fourth-80: #f7f7f7;
$color-fourth-70: #f1f1f1;

$color-success: #a5ffae;
$color-failed: #fa7594;
$color-warning: #fffb87;

$color-hover-100: #f5f5f5;
$boxShadowColor-100: 0 0 2px #dadada;
$boxShadowColor-90: 0 2px 4px rgba(0, 0, 0, 0.1);

$borderColor-100: #f0f0f0;
$borderColor-90: #e5e7eb;

//

$siderbarsMain-width-open: 250px;
$siderbarsMain-width-close: 60px;

$header-main-height: 70px;

$padding-global: 18px;
